version: '3.8'
services:
  postgres:
    container_name: postgres
    image: postgres:12.4
    volumes:
      - /var/lib/pgsl/data/
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"
      POSTGRES_DB: "yatube_api"
      POSTGRES_USER: "Timofey"
      POSTGRES_PASSWORD: "haLo3V1q"

  yatube_api:
    container_name: yatube_api
    build: .
    image: vestimofey/yatube_api:v1.1
    restart: always
    volumes:
      - static_value:/app/static/
    ports:
      - "8000:8000"
    environment:
      HOST: "postgres"
    depends_on:
      - postgres

  nginx:
    container_name: nginx
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
    depends_on:
      - yatube_api

volumes:
  postgres_data:
  static_value: